[Unit]
Description=preDAC amplifier
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/share/preDACrel/display.py
#Restart=on-abort
 
[Install]
WantedBy=multi-user.target
